html, body {
  height: 100vh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.swiper {
    width: 240px;
    height: 320px;
  }
  
  .swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
  }
  
  .swiper-slide:nth-child(1n) {
    background-color: transparent !important;
  }
  
  .swiper-slide:nth-child(2n) {
    background-color: transparent !important;
  }
  
  .swiper-slide:nth-child(3n) {
    background-color: transparent !important;
  }

  .containerLogins {
    position: relative;
    display: grid;
    justify-content: center;
    align-items: center;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    grid-template-areas: 
      'containerLogin containerIniciar';
      
  }

  .containerLogin {
    grid-area: containerLogin;
    
  }

  .containerIniciar {
    grid-area: containerIniciar;
    display: flex;
    flex-direction: row;
    justify-content: center;
    
    /* border: 2px solid rgb(41, 197, 27); */
  
  } .containerIniciar img {
    opacity: 0;
    width: 30px;
    height: 30px;
    object-fit: cover;
  }

  .containerLogin img {
    
    width: 50vw;
    height: 100vh;
    object-fit: cover;
  } 
 
  .containerIniciar button {
    margin-left: 43%;
    background: #12C757;
    width: 150px;
    height: 50px;
  } .containerIniciar .logoGoogle {
    opacity: 1;
  }

  .resumenApp {
    opacity: 0;
    
  }

  @media (max-width: 678px){
    .containerLogins {
      position: relative;
      display: grid;
      justify-content: center;
      align-items: center;
      text-align: center;
      grid-template-columns: repeat(1, 1fr);
      grid-template-rows: repeat(3, 1fr);
      grid-template-areas: 
      'resumeApp'
      'containerLogin'
      'containerIniciar';
      background-image: url('./assets/restaurant.png');
      background-size: 400px;
      background-position: center;
      background-repeat: no-repeat;
      
    }
    

    .containerLogin img {
      text-align: center;
      border-radius: 50px;
      width: 250px;
      height: 200px;
      object-fit: cover;
    }

    .containerIniciar {
      display: grid;
      justify-content: center;
      align-items: center;
      
      
      }  
      
      .containerIniciar .logoGoogle {
        opacity: 1;
        width: 25px;
        height:25px;
        object-fit: cover;
      
      }

     /* .containerIniciar .iconUser {
      
      opacity: 1;
      width: 50px;
      height:50px;
      object-fit: cover;
      margin-top: 20px;
      margin-left: 40px;
    } */ 


    .containerIniciar button {
     padding: 0 20px;
     border-radius: 20px;
     width: 200px;
     height: 50px; 
    
    } 

    .resumenApp {
      grid-area: resumeApp;
      opacity: 1;
      padding: 0 40px;
      color: #fff;
      font-size: 1rem;
    }

  }
  
  

  

  /* div.swiper-slide.swiper-slide-prev {
    background: transparent !important;
    background-color: transparent !important;
  } div.swiper-slide.swiper-slide-visible.swiper-slide-active {
    background: transparent !important;
    background-color: transparent !important;
  } div.swiper-slide.swiper-slide-next {
    background: transparent !important;
    background-color: transparent !important;
  } */